


body, html {
  height: 100%;    /*	 for some reason, this is needed for the context menu to work */
  /*width: 100%;*/
  /*overflow: hidden;*/
  overflow-y:scroll;
  background: #feb88f;
}

    /* dialog box class */
.doc-set {
  font-size: 11px !important; 
  padding-left: 1px !important;
  padding-right: 3px !important;
}

.scrunch-doc {
	background: #D9FAE4 !important;
	padding-right: 8px !important;
	padding-left: 1px !important;
}

.ui-dialog-title {
    font-size: 11px !important;
    /* background: F1AAFF !important; me */
    /* font-weight:normal; */
}
/*
#main-div {
	overflow: hidden;		
}
*/

/* careful: jsPlumb overwrites classes of the overlay elements, so CSS element selectors work, but not class */
/*
textarea {
    width: 10em;
    height: 2m;
    border-radius: 1em;
    border: 3px solid #009aff;
}
textarea.doc-textarea {
	width  : 100% !important;
    height : 100% !important;
    resize: none;
	border: none;
	overflow: hidden;
}
*/

div._jsPlumb_overlay {
    width: 10em;
    height: 2m;
    border-radius: 1em !important;
    border: 1px solid #F1AAFF; /*#009aff; */
    background: yellow;
    font-size: 12px !important;
    resize: both;
	overflow: auto;
	font-size: 11px !important;
	min-height: 10px;
	padding: 2px 6px;
}

textarea._jsPlumb_overlay {
    width: 10em;
    height: 2m;
    border-radius: 1em !important;
    border: 1px solid #F1AAFF; /*#009aff; */ 
    background: yellow;
}

textarea.note-textarea {
	font-size: 11px !important;
	background: #F1AAFF; /*#C1F1F5; */
	width  : 100% !important;
    height : 100% !important;
    resize: none;
	border: none;
	overflow: hidden;
}



textarea:focus {
    box-shadow: inset 0 0 3px 2px #F1AAFF; /*#009aff; */ /* provides a more style-able replacement to the outline */
}


#demo {
	margin-top:5em;
}

.w { 	
	padding:16px;
	position:fixed;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #2e6f9a;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:8px;
	border-radius:8px;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	background-color:yellow;
	font-size:11px;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;	
}

.w:hover {
	background-color: #5c96bc;
	color:white;

}

.aLabel {
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#1e8151;
	color:white;
}

.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;				
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
}
/* div.sticky {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	z-index: 5;
	background-color: yellow;
	padding: 50px;
	font-size: 20px;
  } */
.scrunchy-button {

	background-color:#e6e6e6;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}
  /* Scrunchy button color */
.scrunchy-button-active {

	background-color:#1BC161;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.scrunchy-button-active:hover {
	box-shadow: 0px 0px 6px black;
}

.scrunchy-button:hover {
	box-shadow: 0px 0px 6px black;
	background-color:#A2FABE;
}
 
 /* jsplumb Connestion button  72BDF2 */
.ep {

	background-color:#fff8f0;  
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
	background-color:#3F7EF2;
}


/* jsplumb Connestion button */
.ep_note {

	background-color:#F1AAFF;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep_note:hover {
	box-shadow: 0px 0px 6px black;
	background-color:#F111FF;
}
.statemachine-demo ._jsPlumb_endpoint {
	z-index:3;
}


.dragHover { border:2px solid orange; }

path { cursor:pointer; }
    /* Note background color */
.note-set {
	background: #f6eb85 !important;   
	font-size: 12px !important;
}

.prov-set{
	background: #ffd37f !important;
	font-size: 12px !important;
}
   /* All icon images */
.context-menu-item.icon { min-height: 18px; background-repeat: no-repeat; background-position: 4px 2px; }
.context-menu-item.icon-search { background-image: url(images/search.png); }
.context-menu-item.icon-clear-search { background-image: url(images/clear-search.png); }

/* for jquery.highlight-4.js */
/* High light colors  */
.highlight-pink { background-color: #ffea57 }
.highlight-green { background-color: #77F7A4 }
.highlight-white { background-color: #feffdc }


.searchText, 
.highlightText,
.readText,
.noteText { 
    font-size: xx-small;
    font-weight: bold;
    max-width: 33%;
    display:inline-block;
    padding: 0px 3px;
    /* margin-bottom: -4px; */
    border-radius: 5px;
    height: inherit;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchText:hover,
.highlightText:hover,
.readText:hover,
.noteText:hover {
    background-color: #ffb577;
}

.searchText{
    background-color: #fff34e;
	color: #968e2b;
}
.highlightText { 
    background-color: #86ff94;
	color: #088032;
}

.readText{
    background-color: #ffd6e7;
	color: #cc0f7c;
}
/*
.noteText{
    color: #FFf686;
    background-color: #8e5359;
	background-color: #bfb105;
}
*/

.historyList{
	margin-bottom: -15px;
}

.historyNode{
	margin-bottom: -10px;
	padding:5px 8px;
	border-radius: 10px;
	margin: -12px 0px 15px -40px;
    list-style: none;
	cursor: pointer;
    background-color: #fff3dd
}
.historyNode:hover{
	background-color: #ffeac3;
}

.history{
	font-size: xx-small;
	height: calc(100% - 14px);
	overflow-y: auto;
}

.time {
	font-size: 10px;
	padding: .3em 0em .1em 1em;
	border-bottom: solid #888 01px;
    margin: -5px -8px 5px -8px;
}


.tool-brief{
    font-size: smaller;
    margin: 0px 0px;
    padding-bottom: 5px;
    border-bottom: #aaa solid 1px;
}
.cov-ratio {
	font-size: smaller;
	float: right;
	color: #FF4686;
}

.covList{
    background-color: #fff3dd;
	margin-bottom: -10px;
	padding:5px 8px;
    margin: 0px;
	border-radius: 10px;
}

.cov-line{
	list-style-type: none;
	cursor: pointer;
}
.cov-line:hover{
	background-color: #ffe96f;
/*    background-color: #d99883;*/
}
.seg-fg {
	position:absolute;
	height: 100%;
	background-color: #FF4686;
}
.seg-bg{
	height: 6px;
	width: 150px;
	position: relative;
	margin-top: 4.5px;
	float: right;
	display: block;
	background-color: #648fbd;
}

.time>.seg-bg{
    margin: 2px 10px 0px 0px;
	 height:5px;
}
.time>.seg-bg>.seg-fg{
	height: 8px;
}

.affiliate { background-color: #fcffb6; color: #FF4686;}

.unaffiliate { 
	color: #648fbd; 
	background-color: rgb(169,243,255);
}

/*
.affiliate.highlightText,
.affiliate.searchText,
.affiliate.noteText,
.affiliate > .time{
    background-color: #8e5359;
	color: #ffff5f;
}
*/

.affiliate.cov-line {
/*	background-color: hsl(339, 30%, 58%);*/
	padding: 0em 0em 0em 0.5em;
    font-weight: bold;
}
.affiliate.history{
	color: #e52d6d;
    background-color: #fcffb6;
/*    background-color: #ffff5f;*/
}
/*
.historyList > li.affiliate{
    background-color: #FF4686;
}
*/

.affiliate > coverage > .cov-ratio {
/*	color: #ffff5f;*/
    padding-right: 0.4em;
}

/*
.highlight-blue { background-color: #D2B5F5 }
*/